h1 {
    font-family: Georgia;
    text-align: center;
    color: cornflowerblue;
    font-size: 50px;
    margin: 0 auto;
    /* centraliza horizontalmente */
    padding: 20px 0;
}

h2,
p {
    text-align: center;
    height: 10px;
    font-family: Tahoma;
    color: white;
}

#signup-form {
    background-color: cornflowerblue;
    font-family: Tahoma;
    border-radius: 8px;
    max-width: 430px;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    padding: 3px;
}

fieldset:first-of-type {
    display: flex;
    justify-content: space-between;
}

.text {
    display: inline-block;
}

input[type="text"] {
    width: 190px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.access input {
    display: block;
}

.radio {
    display: inline-flex;
    align-items: center;
}

.radio-input {
    margin: 0 0.5em 0;
}

.access {
    display: flex;
    margin-top: 5px;
    margin-bottom: -15px;
}

legend,
label {
    color: white;
}

.cadastro {
    display: block;
    margin: 20px auto;
}